body{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1 rem;
    text-align: center;
}

footer{
    
    margin: 1rem;
    border: 5px;
    padding: 5px;
   
    font-size: 2rem;
    background-color: green;
    color: white;
    
}

header{
    background-color: green;
    color: white;
}
.data{
    border-style:groove;
}