

    



body{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1 rem;
    background-color: lightblue;
}


nav ul li {
    flex:  100%;
    display: block;
}

nav a:hover{
    border: 1px solid;
    color:lightblue;
}
nav ul {
    display: flex;
    text-decoration: #000;
   
    
}
nav a{
    color: white;
}

nav {
    margin: 0 auto;
    
    
    width: 1000px;
    margin-top: 40px;

}

header{
    min-width: 1300px;
    margin: 1rem;
    border: 5px;
    padding: 5px;
    background-color:lightslategray;
    text-align: left;
    display: flex;
    
    
    
}
h1 {
    flex: 1;
  }
  
  nav {
    flex: 1;
  }
h1{
    color: white;
    
}

main{
    min-width: 1300px;
    margin: 1rem;
    border: 5px;
    padding: 5px;
    background-color:lightblue;
    align-items: center;
   
    
   
}

footer{
    min-width: 1300px;
    margin: 1rem;
    border: 5px;
    padding: 5px;
    background-color:lightslategray;
    text-align: center;
    font-size: 2rem;
    color: white;
}

section{
    min-width: 1200px;
    padding: 1rem;
    background-color: lightslategray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1f 1fr 1fr;
    grid-gap: 1rem;
    margin-left: 30px;
    color: white;

}

img .aba-temple{
    grid-column: 1/2;
    grid-row: 1/2;
}
img .accra{
    grid-column: 2/3;
    grid-row: 1/2;
}
img .adelaide-australia{
    grid-column: 3/4;
    grid-row: 1/2;
}
img .bern-switzerland{
    grid-column: 1/2;
    grid-row: 2/3;
    align-content: center;
}
img .buenos-aires{
    grid-column: 2/3;
    grid-row: 2/3;
}

img .chicago{
    grid-column: 3/4;
    grid-row: 2/3;
    
}
img .columbia{
    grid-column: 1/2;
    grid-row: 3/4;
}
img .idaho{
    grid-column: 2/3;
    grid-row: 3/4;
}

img .oakland{
    grid-column: 3/4;
    grid-row: 3/4;
}
img{
    width : 300px;
}
h1{
    font-size: 3rem;
}