

body{
    
    font-family: "Joti One", "Ubuntu";
    font-size: 1rem;
    background-color: white;
    color: black;
    align-content: center;
}

.hamburger-button {
    width: 100%;
    max-width: 70px;
    padding-left: 50px;
    background-color: navy;
    color: white;
    padding: 15px;
    font-size: 24px;
    margin-left: 50px;
    display:  flex;
    font-size: 30px;
    cursor: pointer;
}

.myLinks a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    
    display: block;
    transition: background-color 0.3s;
    
    display: block;

}

.myLinks a:hover {
    background-color:navy;
    color: red;
}

nav ul {
    display: flex;
    color: white;
    margin-left: 20px;
    align-content: center;
    

}

div{
    text-align: center;
    display: flex;
}

nav ul li a{
    color: white;
    
    width: 100px;
    line-height: 30px;
    
    
   
}

header{
    background-color: navy;
    color: white;
    text-align: center;
    
}


h1, h2, footer{
    font-family: joti One;
    text-align: center;
    font-size: 2.5rem;
}

p{
    font-family: ubuntu;
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr 4.0fr;
}

footer{
    background-color: navy;
    color: white;
    font-size: 1.3rem;
    max-height: 400px;
    
   
    
}

.sect1 img{
    width: 100%;
    max-width: 400px;
    max-height: 220px;

    
}
.sect2 img{
    width: 100%;
    max-width: 400px;
    max-height: 300px;
    

}
.sect3 img{
    width: 100%;
    max-width: 400px;
    max-height: 700px;
    
}


h3{
    text-align: center;
}

h2{
    grid-column: 2/3;
    grid-row: 1/2;
}
.sect1{
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-content:inherit;
    line-height: 1.6 ;
}

.sect2{
    grid-column: 2/3 ;
    grid-row: 2/3;
    text-align: center;
    margin-left: 10px;
    
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-content: inherit;
    line-height: 1.6 ;
}
.sect3{
    grid-row: 2/3;
    grid-column: 3/4 ;
    text-align: center;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-content: inherit;
    line-height: 1.6 ;
}

footer p{
    font-family:  joti One;
}

h1{
    padding-top: 20px;
}