body{
    
    font-family: "Joti One", "Ubuntu";
    font-size: 1rem;
    background-color: white;
    color: black;
    align-content: center;
}

.hamburger-button {
    width: 100%;
    max-width: 70px;
    padding-left: 50px;
    background-color: navy;
    color: white;
    padding: 15px;
    font-size: 24px;
    margin-left: 50px;
    display:  flex;
    font-size: 30px;
    cursor: pointer;
}

.myLinks a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    
    display: block;
    transition: background-color 0.3s;
    
    display: block;

}

.myLinks a:hover {
    background-color:navy;
    color: red;
}

nav ul {
    display: flex;
    color: white;
    margin-left: 20px;
    align-content: center;
    

}
    


header{
    background-color: navy;
    color: white;
    text-align: center;
    
}


h1, h2, footer{
    font-family: joti One;
    text-align: center;
    font-size: 2.5rem;
}

p{
    font-family: ubuntu;
    text-align: center;
}

footer{
    background-color: navy;
    color: white;
    font-size: 1.3rem;
}

main{
    display: grid;
   
    grid-template-rows: .25fr 2fr;
}

h2{
    grid-row: 1/2;
    
    text-align: center
}
.page{
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    line-height: 1.6 ;
    
}

.enyimba{
    
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-content: top;

}

.market{
    grid-row: 1/2;
    grid-column: 2/3;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-content: top;

}
.religion{
    grid-row: 1/2;
    grid-column: 3/4;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-content: top;
}
.sports{
    grid-row: 1/2;
    grid-column: 4/5;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-content: center;
}
h3{
    text-align: center;
}
footer p{
    font-family: joti One;
}



img{
    width: 100%;
    max-width: 400px;
    max-height: 250px;

}