body{
    
    font-family: "Joti One", "Ubuntu";
    font-size: 1rem;
    background-color: white;
    color: black;
    align-content: center;
}

.hamburger-button {
    width: 100%;
    max-width: 70px;
    padding-left: 50px;
    background-color: navy;
    color: white;
    padding: 15px;
    font-size: 24px;
    margin-left: 50px;
    display:  flex;
    font-size: 30px;
    cursor: pointer;
}

.myLinks a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    
    display: block;
    transition: background-color 0.3s;
    
    display: block;

}

.myLinks a:hover {
    background-color:navy;
    color: red;
}

nav ul li{
    display: block;
   
    color: white;
    margin-left: 20px;
    
    

}




nav ul li a{
    color: white;
    display: flex;
    width: 300px;
    line-height: 30px;
    text-align: center;
    
    
    
    
}

header{
    background-color: navy;
    color: white;
    text-align: center;
    
}


h1, h2, footer{
    font-family: joti One;
    text-align: center;
    font-size: 2.5rem;
}

p{
    font-family: ubuntu;
    text-align: center;
}

footer{
    background-color: navy;
    color: white;
    font-size: 1.3rem;
}

main{
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 0.25fr 1fr;
}
h2{
    grid-column: 2/3;
    grid-row: 1/2;
    color: white;
    background-color: navy;
}
.clusters{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    align-items: center;
    font-family: ubuntu;

}
h2{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: navy;
    color: white;
}

.clusters select:required{
    border-bottom: solid 8px red;

}
 .clusters input:required:valid{
    border-bottom: solid 8px green;

}

footer p{
    font-family: joti One;
}

.clusterslabel {
    display: block;
    padding-top: 1rem;
    color: black;
}

.clusters input{
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 40px;
    border-radius: 5px ;
    padding: 4px;
}
.button{
    margin-left: 10px;
    margin-top: 40px;
    background-color: black;
    color: white;
    height: 80px;
    border-radius:5px ;
    font-size: medium;
    padding: 5px;
    text-align: center;
}

textarea{
    width: 100%;
    max-width: 400px;
    height: 300px;
    border-radius:5px ;
}
.clusters select{
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 40px;
    border-radius:5px ;
}