

    




body {
    font-family: "Roboto Condensed", sans-serif;
    justify-content: space-between;
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    max-width: 100%;
}


header {
    background-color: cornflowerblue;
    text-align: center;
    grid-column: 1 / 4;
    width: 100%;

       
}
.card{
    grid-column: 1 / 2;
   
    text-align: center;
    width: 100%;
    background-color: darkturquoise;

}

.mypic{
    grid-column: 2/3;
    width: 100%;
    padding-left: 50px;
    


}

.myskills{
    grid-column: 3/4;
    
    width: 100%;
    background-color: darkturquoise;
}
header h1{
   
   align-items: center;
    
}
nav {
    margin: 0 auto;
    background-color: aqua;
}

nav a{
    display: block;
}

nav a:hover{
    border: 1px solid;
    text-decoration: overline;
}

nav ul {
    display: flex;
    
}

nav ul li {
    flex:  100%;
}



footer{
    background-color: cornflowerblue;
    font-size: 2rem;
    max-width:  100%;
    text-align: center;
    grid-column: 1 / 4;
}