

    




body {
    font-family: "Roboto Condensed", sans-serif;
    justify-content: space-between;
    display: grid;
    grid-template: 1fr 4fr 1fr;
    background-color: lightblue;
        
  
   
}


header {
    
    text-align: center;
    background-color:black;
    width: 100%;
    grid-row: 1 /2;
    border: 5px;
    padding: 5px;

       
}

main{
    min-width: 500px;
    margin: 1rem;
    border: 5px;
    padding: 5px;
    background-color:lightblue;
    display: grid;
    grid-template-columns: 2.5fr 0.5fr 1fr;
    grid-gap: 1rem;
    grid-row: 2 /3;
    align-items: center;

}

.my-pic{
    justify-content: top;
}


h1{
    color: white;
    align-items: center;
   
    
}

.profile h2, h3{
    text-align: center;
}

nav {
    margin: 0 auto;
    
    background-color: lightblue;

}

nav a{
    color: black;
}

nav a:hover{
    border: 1px solid;
    color:royalblue;
    
}

nav ul {
    display: flex;
    color: black;
   
    
}

nav ul li {
    flex:  100%;
    display: block;
}



footer{
    background-color: black;
    font-size: 2rem;
    max-width:  100%;
    text-align: center;
    grid-row : 3 / 4;
    max-height: 100%;
    border: 5px;
    padding: 5px;
    
}
footer p{
    color : white;
}

img{
    width: 200px;
}
.myskills{
    text-align: center;
}

.Nigeria{
    width: 50px;
    height: 50px;

}