

    




body {
    font-family: "Roboto Condensed", sans-serif;
    justify-content: space-between;
    display: grid;
    grid-template: 1fr 4fr 1fr;
    background-color: lightblue;
        
  
   
}


header {
    
    text-align: center;
    background-color:black;
    width: 100%;
    grid-row: 1 /2;
    border: 5px;
    padding: 5px;

       
}

main{
    min-width: 500px;
    margin: 1rem;
    border: 5px;
    padding: 5px;
    background-color:lightblue;
    grid-row: 2 /3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1rem;
    
    align-items: center;

}

.my-pic{
    justify-content: top;
}


h1{
    color: white;
    align-items: center;
    
   
    
}
.profile{
    outline-style: double;
}

.profile h2, h3{
    text-align: center;
    font-size: 1.5rem;
    grid-column: 1/2;
}

nav {
    margin: 0 auto;
    
    background-color: lightblue;

}

nav a{
    color: black;
}

nav a:hover{
    border: 1px solid;
    color:royalblue;
    
}

nav ul {
    display: flex;
    color: black;
   
    
}

nav ul li {
    flex:  100%;
    display: block;
}



footer{
    background-color: black;
    font-size: 2rem;
    max-width:  100%;
    text-align: center;
    grid-row : 3 / 4;
    max-height: 100%;
    border: 5px;
    padding: 5px;
    
}
footer p{
    color : white;
}

img{
    width: 150px;
}



.Nigeria{
    width: 50px;
    height: 50px;

}
.aboutme{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 3fr;
}
.whom{
    grid-column: 1/3;
    background-color: black;
    color: white;
    
}
.my-pic{
    grid-column: 2/3;
    margin-top: 10px;
    
}

.aba{
    display: grid;
    grid-template-columns: 1 fr 3fr;
    grid-template-rows: 1fr 3fr;
}

.mytown{
    grid-column: 1/3;
    grid-row: 1/2;
}
.Niger{
    grid-column: 1/2;
    grid-row: 2/3;

}

.tori{
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 1.5;
    

}
.myskills{
    text-align: center;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1 fr;
    grid-template-rows: 1fr 3fr;
   
    outline-style:double;

}


.heading {
    grid-row: 1/2;
    background-color: black;
    color: white;
    max-width: 100%;
    
}

.division{
    grid-row: 2/3;
}
.story{
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.5;
}