
@media only screen and (max-width: 600px) {

    header, nav, main, footer {
        max-width: 600px;
        margin:auto;
    }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: "Roboto Condensed", sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: navy;
    color: white;
}
header h1 {margin: 0; text-align: center;}
header h2 {margin: 0; font-weight: normal;}

/*----------- NAVIGATION --------------*/
nav {
    background-color: navy;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {border-bottom: solid 1px wheat;}
nav ul li a {
    display: flex;
    background-color:navy;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    border-style: groove;
}
nav ul li.active a {
    background-color: navy;
    color: #fff;
}
nav a:hover{
    background-color:gold;
    color: white;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 20rem;
}



.wf1 fieldset{
    margin: 2rem 0;
    border: 1px solid wheat;
    margin-left: 10px;
}

.wf1 legend {
    color: black;
}

.wf1 label {
    display: block;
    padding-top: 1rem;
    color: black;

}



.wf1 input[type="textarea"]{
    background-color: white;
}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"]{
    margin-right: 6px;
}

.wf1 input:required{
    border-bottom: solid 8px lightblue;

}

.wf1 input:required:valid{
    border-bottom: solid 8px lightseagreen;
}

 .myStar{
    
    display: flex;
    
}
.wf1 input[type="textarea"]{
    width: 400px;
    height: 200px;
}


.wf1 input[type="text"],
.wf1 input[type="textarea"],
.wf1 input[type="date"],
.wf1 select{
    width : 100%;
    max-width: 400px;
    border-radius: 5px;
}

.button{
    
    width: 400px;
    color:white;
    margin-left: 12px;
    border-radius: 5px;
    background-color: black;
    margin-bottom: 30px;
    margin-left: 20px;
}



/*----------- FOOTER --------------*/
footer {
    background-color: navy;
    padding: .5rem 2%;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

}