body{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1rem;
    background-color: white;
    color: black;
}

.myLinks {
    display: none;
    background-color: navy;
    color: white;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-wrap: wrap;
   overflow-x: auto;
 }

 .myLinks a {
    display: flex;
    padding: 15px;
    color: white;
    text-decoration: none;
    

 }
 .myLinks a:hover {
    background-color:navy;
    color: wheat;
 }



header{
    width: 100%;
    margin: 1rem;
    border: 5px;
    padding: 5px;
    background-color:white;
    color: black;
    border-style: groove;
    background-color: navy;
}

main{
    display: block;
    width: 100%;
    margin: auto;
    border: 5px;
    padding: 5px;
    background-color:white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 9fr;
    grid-gap: 1rem;
    align-items: center;

}
h2{
    text-align: left;
    grid-row: 1/2;
    font-size: 2rem;
}

section{
    align-self: center;
    background-color:white;
    
    width:100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    color: black;

    
}

footer{
    
    width: 100%;
    margin: 1rem;
    border: 5px;
    padding: 5px;
    
    text-align: center;
    font-size: 2rem;
    color: white;
    border-style: groove;
    background-color: navy;
}



figcaption{
    text-align: center;
}

img{
    width: 100%;
    height: 100%;
}

img .aba-temple{
    grid-column: 1/2;
    grid-row: 1/2;
}
img .accra{
    grid-column: 1/2;
    grid-row: 2/3;
}
img .adelaide-australia{
    grid-column: 1/2;
    grid-row: 3/4;
}
img .bern-switzerland{
    grid-column: 1/2;
    grid-row: 4/5;
    align-content: center;
}
img .buenos-aires{
    grid-column: 1/2;
    grid-row: 5/6;
}

img .chicago{
    grid-column: 1/2;
    grid-row: 6/7;
    
}
img .columbia{
    grid-column: 1/2;
    grid-row: 7/8;
}
img .idaho{
    grid-column: 1/2;
    grid-row: 8/9;
}

img .oakland{
    grid-column: 1/2;
    grid-row: 9/10;
}
img{
    width : 100%;
}
h1{
    font-size: 3rem;
}
h1{
    color: white;
    
    
}
.hamburger-button {
    background-color: navy;
    color: white;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
 }
