

body{
    font-family: "Roboto Condensed", sans-serif;
}

header{
    max-width: 640px;
    margin: 1rem;
    border: 5px;
    padding: 5px;
    background-color:black;
    
}
h1{
    color: white;
}

main{
    min-width: 500px;
    margin: 1rem;
    border: 5px;
    padding: 5px;
    background-color:lightblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

}

footer{
    max-width: 640px;
    margin: 1rem;
    border: 5px;
    padding: 5px;
    background-color:lightblue;
}

section{
    padding: 1rem;
    background-color: lightcyan;

}